<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <display-name>Archetype Created Web Application</display-name>

    <servlet>
        <servlet-name>setcolor</servlet-name>
        <servlet-class>hr.fer.oprpp2.servlets.SetColorServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>setcolor</servlet-name>
        <url-pattern>/setcolor</url-pattern>
    </servlet-mapping>
</web-app>
