body {
    background-color: var(--bg);
    color: var(--fg);
}

.content {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

a:link {
    color: var(--linkColor);
}

a:visited {
    color: var(--linkVisiteColor);
}
